.create-container {
    width:100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.createSection {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #7cafde;
  
}
.topBar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #1b1c1b;
}

.title {
  font-weight: 600;
}

.action {
  color: #047ae8;
  font-weight: 500;
}

.textSmall {
  font-size: 14px;
}

.textMuted {
  font-size: 14px;
  color: #0f0f0f;
}

.previewWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #c90d9a; */
}

.previewBox {
  width: 280px;
  height: 280px;
  background: #fbfafa;
  border-radius: 6px;
}

.gallerySection {
  padding: 8px;
}

.galleryHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.gridItem {
  height: 90px;
  background: #ccc;
}
.captionSection {
  padding: 8px;
}

.captionInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.previewImage {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}
