.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}
.login-holder {
  width: 90%;
  height: 85%;
  /* background-color: rgb(169, 233, 92); */
  display: flex;
}
.login-right {
  width: 60%;
  height: 100%;
}
.login-right img {
  width: 50%;
  height: 70%;
}
.login-icon {
  font-size: 150px;
  color:rgb(215, 78, 101);
}
.right-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20%;
}


.login-holder h1 {
  font-size: 50px;
}
.login-form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: darkgoldenrod; */
}

.form-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  height: 80%;
  /* background-color: blueviolet; */
  
}

.input-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  font-size: 15px;
  height: 80px;
  width:100%;
  border-radius: 20px;
}
.Btn-holder {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.btn-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn {
  padding: 10px;
  font-size: 20px;
  height: 50px;
  width: 100%;
  border-radius: 30px;
  border: none;
}
.btn-1 {
  padding: 10px;
  font-size: 20px;
  height: 50px;
  width: auto;
  border-radius: 30px;
  border: 1px solid gray;
}
.btn-2 {
  padding: 10px;
  font-size: 20px;
  height: 50px;
  width: auto;
  border-radius: 30px;
  border: 1px solid blue;
}

.login-footer{
  width: 90%;
  height: 15%;
  /* background-color: rgb(214, 220, 45); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-holder{
  width:90%;
  height:90%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;  
}

ul{
  display: flex;
  gap: 30px;

}
a{
  text-decoration: none;
  color: black;
}
.meta{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.meta-icon{
  font-size: 30px;
  color:blue;
}
.welcome-message{
  width:100%;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.welcome-icon{
  font-size: 70px;
  color:rgb(215, 38, 68)
}

@media (max-width: 700px) {

  .login-form {
    width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;

  }
.login-right {
  display: none;
}
.login-footer{
  display: none;
}
.btn-1{
  display: none;
}
.btn{
  background-color: blue;
}
h2{
  display: none;
}
}