.App-container {
  width: 100%;
  height: 100vh;
  min-height: max-content;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-holder {
  width: 98%;
  height: 95%;
  min-height: max-content;
  /* background-color: yellow; */
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}

.right {
  width: 20%;
  height: 100%;
  /* background: #793232; */
  position: fixed;
}
.side {
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  /* background-color: cornflowerblue; */
  margin-left: 10%;
}

.middle {
  width: 60%;
  height: 100%;

  /* background-color: blue; */
}
.left {
  width: 40%;
  height: 100%;
  /* background-color: green; */
}
